body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  background-color: rgb(232, 217, 217);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0;  /* Remove padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  }
  .appointment-container {
    padding: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: 100%; 
    max-width: 360px;
    min-height: 100vh;
    background-color: white;
    flex-direction: column;
  
  }
  
  .map-section {
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .map-container {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    
  }
  
  .tab-toggle {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .tab-toggle button {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #a9a9a9;
    transition: background-color 0.3s;
    border-radius: 12px;
  }
  
  .tab-toggle .active {
    background-color: #FC000E;
    border-radius: 12px;
  }
  
  .address-section {
    background-color: #fff;
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
  }
  
  .address-line {
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .label {
    font-size: 14px;
    color: black;
    text-align: left;
    margin-bottom: 3px;
  
  }
  
  .value {
    font-size: 16px;
    font-weight: bold;
    color:Black;
    text-align: left;
  }
  
  .button-container {
    margin-top: 16px;
    text-align: center;
  }
  
  .continue-button {
    background-color: #FC000E;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  .back-icon-container {
    position: absolute;
    top: 20px;
    left: 600px;
  }
  
  .back-icon {
    cursor: pointer;
    color: white;
    z-index: 1000;
    position: relative;
  }
  
  .continue-button:hover {
    background-color: #FC000E;
  }
  
  @media (min-width: 768px) {
    .appointment-container {
      max-width: 700px;
      padding: 20px;
    }
  }
  
  @media (min-width: 992px) {
    .appointment-container {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1200px) {
    .appointment-container {
      max-width: 900px;
    }
  
    .map-section {
      height: 400px;
    }
  }