/* Updated CancelBooking.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f6f3f3;
}

.cancel-booking-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  max-width: 375px;
  background-color: white;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cancel-booking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 5px solid #eee;
  padding: 0 10px;
}

.cancel-booking-header h1 {
  font-size: 20px;
  margin: 0;
  color: #000;
  font-weight: bold;
  flex-grow: 1;
  margin-left: 15px;
}

.cancel-booking-back-arrow,
.cancel-booking-phone-icon {
  font-size: 24px;
  cursor: pointer;
}

.cancel-booking-main-container {
  height: calc(98vh - 60px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.cancel-booking-item {
  background: #fff;
  padding: 8px;
  margin: 10px 0;
  border-radius: 10px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

.cancel-booking-item h2 {
  color: #000;
  font-weight: bold;
}

.cancel-booking-item p {
  color: #6c757d;
  font-size: 13px;
}

.cancel-booking-item .cancel-booking-price {
  color: #000;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.cancel-booking-details {
  background: #fff;
  padding: 8px 15px;
  border-radius: 10px;
  margin: 10px 0;
}

.cancel-booking-cancellation-policy {
  background: #fef3f1;
  border: 1px dashed #FC000E;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  color: #FC000E;
}

.cancel-booking-footer {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

.cancel-booking-footer h3 {
  color: #000;
  font-weight: bold;
  margin-bottom: 13px;
}

.cancel-booking-summary {
  margin-bottom: 15px;
}

.cancel-booking-total {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.cancel-booking-total span {
  display: inline-flex;
  align-items: center;
  color: black;
  font-weight: bolder;
}

.cancel-booking-button {
  width: 90%;
  background: none;
  border: 2px solid #e8797e;
  color: #FC000E;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .cancel-booking-container {
    width: 90%;
    height: 95%;
    margin-top: 4px;
  }

  .cancel-booking-main-container {
    height: calc(90vh - 60px);
  }
}

@media (min-width: 601px) and (max-width: 1300px) {
  .cancel-booking-container {
    width: 90%;
    height: 95%;
    margin-top: 20px;
    max-width: 900px;
  }
}
