body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.content {
    margin-left: 260px;
    padding: 20px;
    width: calc(100% - 260px);
}

.header2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.page-title {
    font-size: 24px;
    /* margin-left: 420px; */
    color: red;
}

.actions {
    margin-top: 10px;
}

.add-service-btn2 {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: red;
    color: white;
    margin-left: 1000px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.service-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.details-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-header {
    display: flex;
    align-items: center;
}

.service-image {
    width: 520px;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.service-name {
    font-size: 24px;
    color: red;
    margin-top: 5px;
    margin-left: 210px;
    font-weight: bold;
}

.right-section {
    flex: 1;
}

.details-content {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
    margin-top: -30px;
    margin-right: 25px;
}
.head6{
    color:black;
    font-weight: bold;
    margin-left: -17px;
    font-size: 20px;
}
.details-content p {
    margin: 10px 0;
    color: black;
    font-size: 18px;
}

.benefits {
    list-style: disc;
    color: black;
    font-size: 18px;
    margin-top: 15px;
    /* margin-left: 20px; */
}

.benefits h4 {
    font-size: 20px;
    color: red;
}

.benefits li {
    margin: 5px 0;
    font-size: 18px;
}

.service-price {
    font-size: 20px;
    color: black;
    margin-left: -17px;
    margin-top: 20px;
    /* font-weight: bold; */
}
.head4{
    color: black;
    font-weight: bold;
}
.ul2{
    color: black;
    margin-left: 190px;
    font-size: 18px;
    /* top: 50px;  */
}
.price {
    color: red;
}



