body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: rgb(226, 222, 222);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-container50 {
  background-color: white;
  padding: 40px 20px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}

.back-button {
  color: rgb(190, 184, 184);
  font-size: 24px;
  cursor: pointer;
  margin-right: 300px;
}

.icon-circle90 {
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  color: #FC000E;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-top: -50px;
}

.privacy-content25 {
  color: rgb(171, 159, 159);
  text-align: left;
}

h3 {
  font-size: 1em;
  margin-bottom: 10px;
  color: black;
}

p {
  font-size: 0.9em;
  line-height: 1.6;
  margin-bottom: 20px;
}
