/* Account.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-image: linear-gradient(to top, white, rgb(235, 233, 233));
  background-color: white;
  padding: 20px;
  border-radius: 13px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 360px;
  height: 640px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  min-height: 100vh;
  justify-content: center;
  box-sizing: border-box;
    
}



.account-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    
  }
  
  .account-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  .profile-name {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .settings-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    
  }
  
  .setting-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .setting-item:hover {
    background-color: #f0f0f0;
  }
  
  .setting-icon {
    font-size: 1.5rem;
    color: #ff0000;
  }
  



  .footer-section {
    position: fixed;
    margin-left: 600px;
    bottom: 0;
    left: 0;
    transform: translateX(-1%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    max-width: 360px;
    z-index: 1000;
    align-items: center;
    gap: 24px; 

  }


  .footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: rgb(217, 20, 20);
    margin: 0 16px;

  }


.footer-header{
  font-size:12px;
  margin-top:2px;

}

  @media (max-width: 768px) {
    .footer-section {
        width: 550px; /* Full width for mobile */
        margin-left: 32px; /* Center alignment */
        padding: 8px;
        margin-bottom:2px;
        position: fixed;
    }
  }
  