body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: white;
  padding: 20px;
  border-radius: 13px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 360px;
  height: 640px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  min-height: 100vh;
  justify-content: center;
  box-sizing: border-box;

  }

.edit-profile {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    
  }
  
  .edit-profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
  }
  
  .edit-profile-header h2 {
    font-size: 1em;
    font-weight: bold;
    color: black;
  }
  
  .close-btn, .save-btn {
    font-size: 1em;
    color: #FC000E;
    cursor: pointer;
    width: 30px;

  }
  
  .edit-profile-content {
    margin-top: 20px;
  }
  
  .profile-image-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group input:disabled {
    background-color: #f9f9f9;
    color: #999;
  }
  
  .save-profile-btn {
    width: 100%;
    padding: 10px;
    background-color:#FC000E;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 200px;
  }
  
  .save-profile-btn:hover {
    background-color: #FC000E;
  }
  
  .camera-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .camera-icon {
    font-size: 1.5em;
    color:#FC000E;
    cursor: pointer;
  }
  
  .camera-icon:hover {
    color: #FC000E;
  }
  