body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: rgb(226, 222, 222);
  /* height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.edit-profile {
  font-family: "Poppins", sans-serif;
  font-style: normal;
    padding: 0px;
    margin: 0 auto;
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 80px;
    padding-right:90px;
    width: 100%;
    max-width: 350px; /* Ensures max-width for mobile responsiveness */
    margin: auto; /* Centers the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
  }
  
  .edit-profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
  }
  
  .edit-profile-header h2 {
    flex-grow: 1; /* Allows the title to take available space */
    text-align: center; /* Center the title */
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 100px;
    margin-top:-10px;
    margin-left:40px ;
    position: absolute;
  }
  .back-btn-circle {
    position: absolute;
  top: 10px;
  margin-left: -60px;
  background-color: #dad7d7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .save-btn {
    font-size: 18px;
    color: #FC000E;
    cursor: pointer;
    width: 0px; /* Adjust as needed */
    margin-left: 210px;
    margin-right: 100px;
    margin-top: 70px;
    margin-bottom: 180px;
    position:absolute;
    

  }
  
  .edit-profile-content {
    margin-top: 20px;
    width: 100%;
  }
  
  .profile-image-containerp {
    position: relative;
    width: 100px; /* Adjust size as needed */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: -30px;
    display: flex;
    object-fit: fill;
    background-color: #f0f0f0; /* Background color for placeholder */
  }
  
  .profile-imageb{
  width: 100px;
  height: 100px;
  border-radius: 10%;
  object-fit: fill;
  display: block; 
  }

  .error {
    color: red;
    font-size: 0.875rem; /* Slightly smaller than normal text */
    margin-top: 4px;
    display: block;
  }
  
  .plus-icon0 {
    position: absolute;
    margin-top: 30px; /* Adjust the position above the image */
    margin-left: 115px; /* Center horizontally */
    color: red; /* Red color for the plus icon */
    border-radius: 50%; /* Circular shape */
    width: 30px; /* Adjust size */
    height: 30px; /* Adjust size */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; /* Adjust size */
    font-weight: bold; /* Bold text for the icon */
    cursor: pointer;
    z-index: 1; /* Ensures the plus icon is above the image */
  }
  
  
  
  .form-group {
    margin-bottom: 15px;
    width: 165%;
    align-items: center;
    justify-content: space-between;
    margin-left: -60px;
    margin-right: 200px;
    }
  
  .form-group label {
    display: block;
    font-size: 1em;
    color: #b4b1b1;
    margin-bottom: px;
    margin-left: 0px;
    text-align:left; 


  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #f0eeee;
    border-radius: 5px;
    text-align: left;
  }
  
  .form-group input {
    background-color: #ffffff;
    color: #070707;
  }
  .form-group input:focus {
    border: 2px solid #FC000E; /* Red border on focus */
    outline: none; 
  }

  /* Wrapper for the email input field */
.email-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.email-input-wrapper input {
  padding-right: 25px; /* Space for the X button */
}

/* Clear (X) button styles */
.clear-email {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20cdpx;
  width: 15px;
  height: 15px;
  background-color: #dfdfdf; /* Light background for the circle */
  border: 1px solid #ccc; /* Border for the circle */
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-email:hover {
  color: #FC000E;
}

  
  .camera-icon-container {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: -50px;
  margin-bottom: 200px;
  margin-left: 80px;
  }
  
  .camera-icon {
    font-size: 1.5em;
    color:#FC000E;
    margin-top: 5px;
  }
  
  .camera-icon:hover {
    color: #FC000E;
  }
  


/* Media queries for Apple smartphones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .edit-profile {
    padding: 10px;
  }
  .edit-profile-header h2 {
    font-size: 18px;
    margin-left: 20px;
  }
  .back-btn-circle {
    width: 35px;
    height: 35px;
  }
  .save-btn {
    margin-left: 150px;
    font-size: 16px;
  }
  .form-group {
    width: 150%;
    margin-left: -50px;
  }
  .form-group input {
    padding: 6px;
    font-size: 14px;
  }
  .profile-image-containerp {
    width: 80px;
    height: 80px;
  }
  .plus-icon0 {
    margin-top: 20px;
    width: 25px;
    height: 25px;
    font-size: 20px;
  }
}

/* Media queries for Android smartphones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .edit-profile {
    padding: 15px;
  }
  .edit-profile-header h2 {
    font-size: 16px;
    margin-left: 15px;
  }
  .back-btn-circle {
    width: 40px;
    height: 40px;
  }
  .save-btn {
    margin-left: 180px;
    font-size: 16px;
  }
  .form-group {
    width: 160%;
    margin-left: -45px;
  }
  .form-group input {
    padding: 7px;
    font-size: 15px;
  }
  .profile-image-containerp {
    width: 90px;
    height: 90px;
  }
  .plus-icon0 {
    margin-top: 25px;
    width: 30px;
    height: 30px;
    font-size: 22px;
  }
}

/* Fallback for other small devices */
@media only screen and (max-width: 480px) {
  .edit-profile {
    padding: 10px;
  }
  .edit-profile-header h2 {
    font-size: 16px;
  }
  .back-btn-circle {
    width: 30px;
    height: 30px;
  }
  .save-btn {
    margin-left: 140px;
    font-size: 14px;
  }
  .form-group {
    width: 140%;
    margin-left: -40px;
  }
  .form-group input {
    padding: 5px;
    font-size: 13px;
  }
  .profile-image-containerp {
    width: 70px;
    height: 70px;
  }
  .plus-icon0 {
    margin-top: 15px;
    width: 20px;
    height: 20px;
    font-size: 18px;
  }
}
