/* Search.css */


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: rgb(247, 247, 247);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(21, 21, 21, 0.1);
  scroll-behavior: smooth;
  

  }


  .search-page {
    padding: 16px;
    font-family: Arial, sans-serif;
    width: 80vw;  
    box-sizing: border-box;
    height: 100vh;
    background-color: white;
    box-sizing: border-box; /* Ensures padding is included in the width */
    margin: 0 auto; /* Centers the container */
    box-shadow: 0 4px 8px rgba(21, 21, 21, 0.1);
    max-width: 375px;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    margin-left: 0; /* Adjusted to keep elements aligned */
  padding: 10px; /* Added padding for even spacing */
    
  }
  
  
  
  .back-button {
    
    font-size: 10px;
    color: rgb(192, 183, 183);
    position: relative;
    background-color: #eae8e8ea; /* Light grey background */
    border-radius: 50%;        /* Circular button */
    padding: 5px;
    margin-right: 15px;
}
  
  
 /* Search Bar */


 .search-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center; 
  
}

.search-input {
  
  border: 1px solid #ededed;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 13px;
  width: 100%;
  padding: 10px 16px; /* Adjusted for even padding */
  background-color: #f7f4f4;
  padding-left: 45px; 
  color:#999999;
}



.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6f7071;
  cursor: pointer;
}

.search-input::placeholder {
  color: #959090;
  opacity: 1; /* Ensures the color is fully opaque */
}

  .popular-locations {
    margin-top: 20px;
  }
  
  .location-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .navigation-icon {
    cursor: pointer;
  }
  
  .footer-section {
    position: fixed;
    margin-left:-9px;
    bottom: 0;
    transform: translateX(-2%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    max-width: 375px;
    z-index: 1000;
    align-items: center;
    gap: 24px; 
  }
  
  .footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: rgb(151, 147, 147);
    margin: 0 16px;

  }

  .footer-header{
    font-size:12px;
    margin-top:2px;
    color:rgb(146, 127, 127);
  
  }

  .footer-icon.active {
    color: red;
  }
  
  .footer-icon.active .footer-header {
    color: red;
  }


