body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d7d2d2;
}

/* Container for the entire form */
.container {
    height: 100vh;
    width: 100%;
    max-width: 375px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    padding-top: 0px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .details-back {
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 16px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.back-icon {
    position: absolute;
    /* left: 30px; */
    top: 15px;
    background: none;
    border: none;
    color: #f31414;
    font-size: 30px;
    cursor: pointer; 
}
  
  /* Heading and subtext styling */
  .heading {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .subtext {
    font-size: 14px;
    color: #b0b0b0;
    margin-bottom: 20px;
  }
  
  /* Form group and input field styling */

  .form {
    overflow-y: scroll;
  scrollbar-width: none;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #000;
  }
  
  .label {
    font-size: 14px;
    color: #000;
    margin-bottom: 6px;
  }
  
  .input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    outline: none;
    background-color: #f6f3f3;
  }
  
  
  
  /* Submit button styling */
  .submit-btn {
    width: 100%;
    background-color: #f31414;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* Disabled submit button */
.submit-btn:disabled {
    background-color: #e49c9c;
    cursor: not-allowed;
  }
  
  