/* Wrapper to center the form */
.loginFormWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  width: 100%; 
  padding: 10px; 
  box-sizing: border-box; 
}

/* Container for the form */
.loginFormContainer {
  width: 100%; 
  max-width: 360px; 
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.loginHeader {
  text-align: left;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
  margin-top: 20px;
}

/* Input Group */
.inputGroup {
  width: 100%; 
  margin-bottom: 20px;
  position: relative;
}

/* Labels */
.inputLabel {
  color: gray;
  margin-bottom: 5px;
  text-align: left;
}

/* Inputs */
.input {
  width: 100%; 
  padding: 12px; 
  font-size: 16px; 
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

/* Password Toggle */
.passwordToggle {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Buttons */
.loginButton {
  width: 100%; 
  padding: 14px; 
  background-color: #ce0805; 
  color: white;
  font-size: 18px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

/* Forgot Password Link */
.forgotPassword {
  color: gray;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
}

/* Extra options */
.extra-options {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

/* Sign-up Link */
.signup-link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

/* Error and success messages */
.errorMessage {
  color: red;
  font-size: 14px;
}

.successMessage {
  color: green;
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 480px) {
  .loginFormContainer {
    padding: 5px;
  }
  .input {
    font-size: 14px;
  }
  .loginButton {
    font-size: 16px;
    padding: 8px;
  }
}
