body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%; /* Ensures that the body and html take the full width */
  height: 100%; /* Ensures that the body takes full height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgb(226, 222, 222); /* Background color */
}

.login-container {
  width: 350px;
  height: 100vh;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-section {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  border-radius: 13px 13px 13px 13px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.welcomeText {
  font-weight: bold;
  font-size: 1.8rem;
  color: #FC000E;
}

.login-card {
  background-color: #fff;
  border-radius: 20px 20px 13px 13px;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  position: relative;
  margin-top: -30px;
}

.login-heading {
  text-align: left;
  margin-bottom: 20px;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.inputLabel {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}

.inputGroup {
  position: relative;
  margin-bottom: 20px;
  color: black;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.loginButton {
  width: 100%;
  padding: 12px;
  background-color: #FC000E;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.extra-options {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 0.9rem;
}

.forgotPassword,
.signup-link {
  color: #FC000E;
  cursor: pointer;
  text-decoration: none;
}

.forgotPassword:hover,
.signup-link:hover {
  text-decoration: underline;
}

.successMessage,
.errorMessage {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10px;
}

.successMessage {
  color: green;
}

.errorMessage {
  color: #FC000E;
}
