/* Apply styles directly to the body */
body{
  display: flex;
  justify-content: center;
}

.logo-section{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
  gap: 15px;
  

}
.logo-section img{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.content-section{
 display: flex;
 align-self: flex-start;
margin-bottom: 20px;
  
}
.content-section h2{
  
  font-size: 18px;
  color: white;
}

/* Container to fit all screen sizes */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden; 
   background-image: url('/images/background-blur.png');
  background-size: cover;
  
  

}





/* Adjusts the button layout */
.button-section {
  position: relative;
  width: 100%; 
 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
  z-index: 1;
  
  
  
}

.button-container{
  display: flex;
  flex-direction: row;
 width: 100%;
 justify-content: space-evenly;

}

/* Buttons with smooth scaling */
.login-button {
  width: 130px;
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  background-color: white;
  color: #ce0805;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;

}
.login-button:hover{
  opacity: 0.9;
  background-color: white;
}
.signup-button {
  width:130px;
  max-width: 300px;
  padding: 15px;
  font-size: 16px;
  background-color: white;
  color: #ce0805;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;

}
.signup-button:hover{
  opacity: 0.9;
  background-color: white;
}

/* Mobile Devices - Small screens (portrait phones) */
@media (max-width: 599px) {
 
   
}

/* Small Tablets - Portrait Tablets */
@media (min-width: 600px) and (max-width:1024px){
 
  .button-section{
    
    justify-content: center;
    align-items: center;

  }
  .logo-section{
   
    align-self: center;
  }
  .content-section{
    align-self: center;
  }
  
}

@media (min-width:1200px){
  .container{
   
    width: 350px;
  }
  .logo-section{
    align-self: flex-start;
  }
}