body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: rgb(226, 222, 222);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-container0 {
  padding: 80px 90px;
  background-color: white;
  width: 100%;
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  box-sizing: border-box;
}

.icon-circle3 {
  position: absolute;
  top: 10px;
  left: 600px;
  width: 40px;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-icon12 {
  color: rgb(190, 184, 184);
  font-size: 24px;
  cursor: pointer;
  right: 100px;
  left: 100px;
}

h4 {
  font-size: 1.2em;
  text-align: center;
  margin-top:-57px;
  margin-bottom:40px;
  color: #0d0d0d;
  margin-right: 200px;
  margin-left: 40px;
  
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  width: 160%;
}

.search-input {
  width: 100%;
  padding: 12px;
  padding-left: 40px; /* Add left padding for the icon */
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-icon {
  position: absolute;
  left: 10px; /* Position the icon inside the search bar */
  font-size: 1.5em;
  color: #666;
}

.faq-list55 {
  display: flex;
  flex-direction: column;
  color: black;
  width: 190%;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-answer {
  margin-top: 10px;
  padding-left: 20px;
  color: #666;
}

.faq-question p {
  margin: 0;
  font-size: 16px;
}

.faq-answer p {
  margin: 0;
  font-size: 14px;
}
