/* Ensure body and html take full height */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%; /* Ensure the full height applies */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 222, 222);
    box-sizing: border-box;
}

/* Form wrapper */
.form-wrapper {
    width: 350px;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/background-blur.png');
    background-size: cover;
    padding-top: 40px;
    
}


/* Logo container */
.logoContainer {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    width: 100%;
    
}
.logoContainerPassword {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    width: 100%;
    margin-left: 20%;
    
}

/* Back arrow */
.back-arrow {
    font-size: 24px; /* Make the arrow slightly larger */
    cursor: pointer;
    color: white; /* Ensure good contrast */
    position: relative; /* Ensure it's positioned relative to the flow */
    display: flex; /* Use flex to align icon properly */
    justify-content: left;
    margin-left: -50px;
    margin-right: 20px;
}

/* Welcome text */
.welcomeText {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.createpassword {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
 
}

/* Forgot password card styling */
.ForgotPasswordCard {
    background-color: #fff;
    border-radius: 20px 20px 0px 0px; /* Rounded bottom corners */
    padding: 30px 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center;
    flex-grow: 1; /* Let this card grow and take available space */
    margin-top: 40px;
}
.CreatePasswordCard {
    background-color: #fff;
    border-radius: 20px 20px 0px 0px; /* Rounded bottom corners */
    padding: 30px 20px;
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center;
    flex-grow: 1; /* Let this card grow and take available space */
    margin-top: 40px;
}

.header {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
    text-align: left;
    
}
.header-verify{
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
    padding-top: 28px;
    font-weight: 600;
    text-align: left;
      
}
.header-password{
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
    padding-top: 28px;
    padding-left: 15px;
    font-weight: 600;
}

.red-label {
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.new-password-label,
.confirm-password-label {
    color: #ff2b2b;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    text-align: left; 
    padding-left: 15px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #FC000E;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    color: black;
    font-weight: 300;
}

.instruction-text {
    color: grey;
    margin-bottom: 20px;
    text-align: left;
}
.button {
    background-color: #FC000E;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
}

.button:hover {
    background-color: #ff2b2b;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.verification-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.verification-input {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #0f0d0d;
}

.button-verify{
    background-color: #FC000E;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.resend-text {
    font-size: 14px;
    color: #201d1d;
    margin-top: 15px;
    text-align: center;
}

.resend-link{
    color:#FC000E;
}

.password-container {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}

.button-password {
    background-color: #FC000E;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.button-password:hover {
    background-color: #ff2b2b;
}

.new-password-label,
.confirm-password-label{
    font-size: 13px;
    margin-right:50px;
    font-weight: 500;
    color: #0f0d0d;
} 



.alert-success {
    color: #d32f2f; 
    padding-top: 15px;
    text-align: center; 
    font-size: 15px; 
}

.alert-error-email{
    color: #d32f2f; 
    padding-top: 15px;
    text-align: center; 
    font-size: 14px; 
}

.alert-error-verify{
    color: #d32f2f; 
    padding-top: 15px;
    text-align: center; 
    font-size: 14px; 
}
.alert-error {
    
    color: #d32f2f; 
    padding-bottom: 20px;
    margin-top: -15px;
    text-align: center; 
    font-size: 12px; 
    
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .welcomeText {
      font-size: 1.6rem;
    }
    .login-heading {
      font-size: 1.4rem;
    }
  }
  
  @media (max-width: 480px) {
    .login-container {
      max-width: 100%;
      padding: 20px;
    }
    .logo {
      width: 40px;
      height: 40px;
    }
    .welcomeText {
      font-size: 1.4rem;
    }
    .login-heading {
      font-size: 1.2rem;
    }
  }




