body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    width: 100%;
    max-width: 375px;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .tab {
    background: none;
    border: none;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
  }
  
  .tab.active {
    color: #000;
    font-weight: bold;
    background-color: #FC000E;
    padding: 2px 25px;
    border-radius: 12px;
  }
  
  .booking-list {
    padding: 10px;
  }
  
  .booking-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .booking-header {
    display: flex;
    justify-content: space-between;
  }
  
  .booking-id {
    text-decoration: none;
    color: #FC000E;
    font-weight: bold;
  }
  
  .status {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 12px;
  }
  
  .accepted {
    /* background-color: #e3f2fd; */
    color: #FC000E;
  }
  
  .submitted {
    /* background-color: #e8f5e9; */
    color: #FC000E;
  }
  
  .ongoing {
    /* background-color: #fff3e0; */
    color: #FC000E;
  }
  
  .service-name {
    margin: 8px 0;
    font-size: 16px;
    color: #000;
    font-weight: bold;
  }

  .service-time {
    margin: 8px 0;
    font-size: 16px;
    color: #444;
  }
  
  .booking-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .service-provider p {
    margin: 0;
    color: #444;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  
  .action-buttons {
    display: flex;
    gap: 30px;
    margin: 10px 0;
  }
  
  .reschedule-button {
    background-color: transparent;
    color: #FC000E;
    border: 1px solid #FC000E;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .cancel-button {
    background-color: transparent;
    color: #FC000E;
    border: 1px solid #FC000E;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  